.card {
  width: 454px;
  height: 281px;
  display: flex;
  font-family: 'Inter', sans-serif;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 35px;
  position: relative;
}
.card__img {
  height: 281px;
  width: 183px;
}
.card_r-col {
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
}

.card__title {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0;
}
.tag {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card__description {
  font-size: 12px;
  line-height: 22px;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  margin-bottom: 0em;

  max-height: 129px;
}
.card__rate {
  margin-top: auto;
}
.ant-rate-star:not(:last-child) {
  margin-right: 3px;
}
.card__tags {
  width: 240px;
  max-height: 32px;
  overflow: hidden;
}
.card__date {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.card__badge2 {
  min-width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: white;
  color: black;
  padding: 4px 0px;
}
.ant-badge-count {
  min-width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: white;
  color: black;
  padding: 3px 0px;
  position: relative;
  left: 417px;
  top: 13px !important;
}
.badge__num {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  /* line-height: 22px; */
}

@media (max-width: 967px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  .card {
    width: 387px;
    height: 245px;
  }
  .card__img {
    height: 91px;
    width: 60px;
    position: absolute;
    left: 10px;
    top: 6px;
  }
  .card__title,
  .card__tags,
  .card__date {
    margin-left: 83px;
  }
  .card_r-col {
    padding: 4px 10px;
  }
  .card__description {
    padding-top: 12px;
  }
  .card__rate {
    margin-left: auto;
  }
}
