.films-list {
  margin: 0 auto;
  padding: 21px 0px 0 0px;
  display: flex;
  max-width: 1010px;
  background-color: #ffffff;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 967px) {
  .films-list {
    background-color: thistle;
  }
}
